.product-info{

}

.product-info h3{
  margin: 5px 0px 10px 0px;
  font-weight: 600;
}

.product-info .price{
  text-align: left;
}

.product-info .stock{
  margin: 8px 0px 0px 0px;
}

@media (min-width: 768px) {
  .product-info .price{
    text-align: right;
  }
  .product-info .stock{
    margin: 0px 0px 10px;
  }
}

.product-info .color{
  border: 1px solid #f3f3f3;
  width: 18px;
  display: inline-block;
  height: 18px;
}

.product-info .reviews-container{
  padding: 0px;
}

.product-info .panel-group{
  margin-bottom: 0px;
}

.product-info .panel-default>.panel-heading{
  border-radius: 0px;
}

.product-info .panel-group .panel{
  border-radius: 0px;
  margin-top: 0px;
}

.product-info .panel-group .panel+.panel{
  margin-top: 0px;
}

.product-info .panel-heading a,
.product-info .panel-heading a:active,
.product-info .panel-heading a:hover{
  text-decoration: none;
}
