<div class="product">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <ol class="breadcrumb">
        <li class="active"><a href="#" class="back" ng-click="goBack()">BACK</a></li>
      </ol>
    </div>
  </div>
  {{productsList}}
  <div class="row" ng-repeat="product in productList" ng-if="productList.length > 0">
    <div ng-if="product.status == 1">
      <product-info products="product" type="pageType"></product-info>
      <product-review product-id="product.id"></product-review>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12" ng-if="product.status != 1">
      <div class="well">PRODUCT <b>{{product.name | uppercase}}</b> IS OUT OF STOCK</div>
    </div>
  </div>
  <div class="row" ng-if="productList.length == 0">
    <div class="col-xs-12 col-md-12 col-sm-12">
      <div class="well">INVALID PRODUCT</div>
    </div>
  </div>
</div>
